/* Basic */
* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: #000000;
	font-size: 24px;
}

a {
	text-decoration: none;
}


.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	border-radius: 50px;
	text-align: center;
	z-index: 99;
}

.my-float {
	width: 60px;
	height: 60px;
	margin-top: 22px;
}

/* Scrollbar */
:root::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: transparent;
}

:root::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

:root::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

/* FONTS */
@font-face {
	font-family: "Neue Haas Grotesk Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Neue Haas Grotesk Display Medium"),
		url("./fonts/NeueHaasDisplayMedium.woff") format("woff");
}

@font-face {
	font-family: "Neue Haas Grotesk Light";
	font-style: normal;
	font-weight: normal;
	src: local("Neue Haas Grotesk Display Light"),
		url("./fonts/NeueHaasDisplayLight.woff") format("woff");
}

@font-face {
	font-family: "Termina W05 Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Termina W05 Bold"),
		url("./fonts/TerminaW05Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Axis Extrabold";
	font-style: normal;
	font-weight: normal;
	src: local("Axis Extrabold"),
		url("./fonts/AxisExtrabold.otf") format("opentype");
}

@font-face {
	font-family: "Monument Extended";
	font-style: normal;
	font-weight: normal;
	src: local("Monument Extended"),
		url("./fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

@font-face {
	font-family: "MADE";
	font-style: normal;
	font-weight: normal;
	src: local("MADE"), url("./fonts/MADESoulmaze.otf") format("opentype");
}

/* Parallax */
.floating {
	position: absolute;
}

.right {
	right: -2%;
}

.right-one {
	right: -5%;
}

.left {
	left: -5%;
}

/* Sections */
.landing,
.about,
.tracks,
.timeline,
.partners,
.faq,
.footer {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 4%;
	/* border: 2px solid red; */
}

.heading {
	font-family: Termina W05 Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 175.5%;
	/* or 84px */

	letter-spacing: 0.02em;
	text-transform: uppercase;

	color: #ffffff;
}

/* Landing */
.landing {
	padding: 0% !important;
}

/* Style the video: 100% width and height to cover the entire window */
#vid {
	z-index: -1;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100vh;
}

/* Add some content at the bottom of the video/page */
.content {
	position: absolute;
	z-index: 4;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	height: 100vh;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.newlogo {
	position: absolute;
	left: 5%;
	top: 5%;
}

.Appathon-img {
	width: 45%;
	height: auto;
	margin-top: 5em;
}

.date {
	padding-top: 5%;
}

.date .landing-date {
	font-family: Termina W05 Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0;
	color: #ffffff;
}

.date .landing-para {
	font-family: Axis Extrabold;
	font-style: normal;
	font-weight: 800;
	font-size: 0.75em;
	text-align: center;
	letter-spacing: 0.45em;
	text-transform: uppercase;
	margin: 0;
	color: rgba(255, 255, 255, 0.49);
}

.reg-btn {
	cursor: pointer;
	width: 250px;
	height: 65px;
}

.deadline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
}

.deadline-line {
	font-family: Neue Haas Grotesk Medium;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: capitalize;

	color: rgba(196, 196, 196, 0.47);
}

.timer {
	margin: 0;
	font-family: Monument Extended;
	font-style: normal;
	font-weight: 800;
	font-size: 144px;
	line-height: 144%;
	/* or 207px */

	text-align: center;
	letter-spacing: 0.155em;
	text-transform: capitalize;

	color: rgba(255, 255, 255, 0.2);
}

/* About */
.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 120vh;
}

.about-head {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title2 {
	height: auto;
	width: 33%;
}

.about-para #ab-pr {
	font-family: Neue Haas Grotesk Medium;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 175.5%;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #ffffff;
}

.banner {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 55px 20px 55px;
	width: 80vw;
	height: 129px;
	border-radius: 10px;
	background: url(./assets/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-text .h3 {
	font-family: Neue Haas Grotesk Medium;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	text-align: center;

	color: #ffffff;
}

.banner-text .h4 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;
	text-transform: uppercase;

	color: #cecece;
}

/*Tracks*/
.tracks {
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;

	margin: 0;
	padding: 4em;
}

.t-head {
	font-family: Termina W05 Bold;
	font-size: 1.5em;
	text-align: left;
}

#t-img {
	padding-top: 3em;
}

/* Timeline */
.timeline {
	height: 100vh;
	padding-left: 10%;
	padding-right: 10%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.timeline::-webkit-scrollbar {
	display: none;
	/* for Chrome, Safari, and Opera */
}

/* Partners */
.partners span {

	font-family: MADE;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height, or 150% */
	color: #ffffff;
	display: flex;
	height: max-content;
	justify-content: space-between;
}

.partners {
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;

	margin: 0;
	padding: 4em;
}

#partners {
	font-family: Termina W05 Bold;
	font-size: 1.5em;
	text-align: left;
}

#p-img {
	padding-top: 3em;
}

/* FAQ */
.faq {
	height: max-content;
	padding: 4em;
}

.faq_page {
	padding-top: 100px;
	padding-left: 1em;
	padding-right: 1em;
	height: auto;
	background: #000000;
}

/* Parallax */
.floating {
	position: absolute;
}

.right {
	right: -2%;
}

.right-one {
	right: -5%;
}

.left {
	left: -5%;
}

@media only screen and (min-width: 401px) and (max-width: 576px) {}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

#faq {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 175.5%;
	/* or 84px */
	letter-spacing: 0.02em;
	text-transform: uppercase;

	color: #ffffff;
	padding-left: 5%;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#content {
	margin-left: 3em;
}

.box {
	border: 1px solid #202020;
	width: 90%;
	padding: 1%;
}

.expandable {
	background: #000;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	line-height: 0;
	color: transparent;
	margin: 0px;
	padding: 0px;
}

.expandable:target {
	line-height: 1.5;
	padding-top: 1em;
	color: #ffffff;
	background: #0c0c0c;
	margin-bottom: 5px;
}

.ques #q1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 175.5%;
	/* or 42px */
	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: rgba(255, 255, 255, 0.8);

	margin-left: 1em;
}

#q1:hover {
	color: rgba(255, 255, 255, 1);
	transition: 0.5s;
}

#q1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 175.5%;
	/* or 42px */
	letter-spacing: 0.02em;
	text-transform: capitalize;

	margin-left: 1em;

	color: #ffffff;
}

#q1:hover {
	color: rgba(255, 255, 255, 1);
	transition: 0.5s;
}

.ans #a1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;

	/* or 35px */
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #ffffff;
	margin-left: 2em;
	margin-bottom: 0px;
	margin-top: 0px;
}

.arrow {
	transition: 0.3s all;
	/* rotate gradually instead of instantly */
}

.arrow:hover {
	-webkit-transform: rotate(-90deg);
	/* to support Safari and Android browser */
	-ms-transform: rotate(-90deg);
	/* to support IE 9 */
	transform: rotate(-90deg);
}

/* Footer */
.footer {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	height: 65vh;
	background: #000000;
}

.footer_adg {
	width: 150%;
	height: auto;
}

.footer_main {
	margin-top: 80px;
	display: flex;
	width: 70vw;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background: #000000;
}

.footer_up {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #000000;
}

.links {
	display: flex;
}

.div_two {
	height: 215px;
	width: 14vw;
}

.div_three .icons a {
	text-decoration: none;
}

.links {
	margin-top: 10px;
	display: flex;
}

.links p {
	margin-right: 20px;
}

.div_three {
	height: 215px;
	width: 13vw;
}

.icons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.icons img {
	margin-bottom: 20px;
	margin-right: 1vw;
}

.footer_down {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 70px;
	background: #000000;
}

.footer_para_up {
	width: 87.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line {
	transform: translateX(2.1vw);
}

.line-up {
	transform: translateX(4vw);
}

.footer_button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 64px;
	height: 64px;
}

.footer_para {
	transform: translateY(-30px);
}

/* Headings Footer */
.footer_up .h4 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: -0.231818px;

	color: #5f2eea;
}

.links p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */

	letter-spacing: -0.204545px;

	color: #ffffff;
}

.line {
	height: 0.001px;
	border: 1px solid #4b5b65;
	margin-bottom: 25px;
	float: left;
	width: 80%;
}

.line-up {
	margin-bottom: 25px;
	float: right;
}

.footer_para {
	float: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	/* identical to box height */

	letter-spacing: -0.204545px;

	color: #ffffff;
}

@media only screen and (min-width: 991px) and (max-width: 1280px) {
	.floating {
		display: none;
	}

	.heading {
		font-size: 3em;
		text-align: center;
		margin-bottom: 2em;
	}

	/* Landing */

	.newlogo {
		height: auto;
		width: 15%;
	}

	.Appathon-img {
		width: 60%;
	}

	#edate {
		font-size: 1em;
	}

	.date .landing-para {
		margin-top: 1em;
	}

	.reg-btn {
		height: auto;
		width: 45%;
	}

	.timer {
		font-size: 3.5em;
	}

	/*About*/

	.about {
		height: max-content;
	}

	.title2 {
		width: 50%;
		margin-top: 20px;
	}

	.about-para #ab-pr {
		padding-top: 40px;
		padding-bottom: 40px;
		width: 90%;
		line-height: 2em;
		font-size: 28px;
	}

	/*Tracks*/

	.tracks {
		height: max-content;
	}

	.t-head {
		text-align: center;
		font-size: 3em;
	}

	#t-img {
		margin-bottom: 2em;
	}

	/*Partners*/

	.partners {
		height: max-content;
	}

	#p-img {
		margin-bottom: 2em;
	}

	/*FAQ*/

	.ques #q1 {
		font-size: 28px;
	}

	.ans #a1 {
		font-size: 24px;
	}

	/*Footer*/

	.footer {
		height: max-content;
	}

	.footer_main {
		margin: 0;
	}
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
	.floating {
		display: none;
	}
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
	.floating {
		display: none;
	}

	/*Landing*/
	.Appathon-img {
		width: 80%;
	}

	.date .landing-para {
		margin-top: 20px;
	}

	.deadline {
		margin-top: 15px;
	}

	.timer {
		font-size: 3em;
	}

	/*About*/
	.about {
		height: max-content;
	}

	.title2 {
		width: 60%;
		margin: 20px 0 10px 0;
	}

	.about-para #ab-pr {
		margin: 10px 0 10px 0;
	}

	.banner {
		padding: 0 10px 0 0;
	}

	.banner-text .h3 {
		width: 200px;
	}

	/*Tracks*/
	.tracks {
		height: fit-content;
	}

	/*Partners*/
	.partners {
		height: fit-content;
	}

	/*FAQ*/

	.faq {
		height: max-content;
	}

	#content {
		margin-left: 0.5em;
	}

	/*Footer*/
	.footer {
		padding-top: 20px;
		height: fit-content;
	}
}

@media only screen and (min-width: 401px) and (max-width: 576px) {
	.floating {
		display: none;
	}

	/*Laanding*/
	.Appathon-img {
		width: 75%;
		margin-top: 110px;
	}

	#edate {
		font-size: 1em;
	}

	.date .landing-para {
		margin-top: 20px;
		font-size: 0.75em;
	}

	.reg-btn {
		width: 60%;
		height: auto;
		align-self: center;
		margin-top: 30px;
	}

	.deadline-line {
		font-size: 20px;
	}

	.timer {
		font-size: 1.6em;
	}

	/* 	About */

	.about {
		height: max-content;
	}

	img.title2 {
		width: 70%;
		margin-bottom: 20px;
	}

	.about-para #ab-pr {
		font-size: 16px;
		width: 250px;
	}

	.banner {
		flex-direction: column;
		height: max-content;
	}

	/* Tracks */

	.tracks {
		padding: 0px;
		padding-top: 40px;
		height: 60vh;
	}

	.t-head {
		font-size: 2em;
		padding-left: 15%;
	}

	#t-img {
		width: 80%;
	}

	/*Partners*/

	.partners {
		padding: 40px 0 0 0;
		height: 60vh;
	}

	.heading {
		font-size: 1.7em;
		display: flex;
		justify-content: center;
	}

	#p-img {
		width: 80%;
	}

	/* Timeline */
	#timeline h3 {
		font-size: 16px !important;
	}

	#timeline section.year section ul li {
		width: 50% !important;
		font-size: 14px !important;
		margin-left: 50% !important;
	}

	#timeline section.year section ul:first-of-type:after {
		left: 48% !important;
	}

	/* FAQ */
	.faq {
		padding: 3%;
	}

	#content {
		margin-left: 0px;
	}

	.box {
		margin-left: 0.5em;
	}

	.ques #q1 {
		font-size: 16px;
	}

	.ans #a1 {
		font-size: 14px;
	}

	.newlogo {
		left: auto;
	}

	/*Footer*/

	.footer {
		height: fit-content;
		margin: 0;
		padding: 0;
	}

	.footer_main {
		width: max-content;
	}

	.footer_up {
		flex-direction: column;
		align-self: flex-start;
		width: max-content;
		padding-left: 2.4em;
	}

	.footer_up .h4 {
		width: 300%;
		line-height: 30px;
		margin: 10px 0 0 0;
	}

	.icons {
		height: 50px;
		width: 100px;
	}

	.links p {
		line-height: 15px;
		width: 200%;
	}
}

@media only screen and (max-width: 400px) {
	.floating {
		display: none;
	}

	/*Laanding*/
	.Appathon-img {
		width: 75%;
		margin-top: 110px;
	}

	#edate {
		font-size: 1em;
	}

	.date .landing-para {
		margin-top: 20px;
		font-size: 0.75em;
	}

	.reg-btn {
		width: 60%;
		height: auto;
		align-self: center;
		margin-top: 30px;
	}

	.deadline-line {
		font-size: 20px;
	}

	.timer {
		font-size: 1.6em;
	}

	/* 	About */

	.about {
		height: max-content;
	}

	img.title2 {
		width: 70%;
		margin-bottom: 20px;
	}

	.about-para #ab-pr {
		font-size: 16px;
		width: 250px;
	}

	.banner {
		flex-direction: column;
		height: max-content;
	}

	/* Tracks */

	.tracks {
		padding: 0px;
		padding-top: 40px;
		height: 60vh;
	}

	.t-head {
		font-size: 2em;
		padding-left: 15%;
	}

	#t-img {
		width: 80%;
	}

	/*Partners*/

	.partners {
		padding: 40px 0 0 0;

	}

	.heading {
		font-size: 1.7em;
		display: flex;
		justify-content: center;
	}

	#p-img {
		width: 80%;
	}

	/* Timeline */
	#timeline h3 {
		font-size: 16px !important;
	}

	#timeline section.year section ul li {
		width: 50% !important;
		font-size: 14px !important;
		margin-left: 50% !important;
	}

	#timeline section.year section ul:first-of-type:after {
		left: 48% !important;
	}

	/* FAQ */
	.faq {
		padding: 3%;
	}

	#content {
		margin-left: 0px;
	}

	.box {
		margin-left: 0.5em;
	}

	.ques #q1 {
		font-size: 16px;
	}

	.ans #a1 {
		font-size: 14px;
	}

	.newlogo {
		left: auto;
	}

	/*Footer*/

	.footer {
		height: fit-content;
		margin: 0;
		padding: 0;
	}

	.footer_main {
		width: max-content;
	}

	.footer_up {
		flex-direction: column;
		align-self: flex-start;
		width: max-content;
		padding-left: 2.4em;
	}

	.footer_up .h4 {
		width: 300%;
		line-height: 30px;
		margin: 10px 0 0 0;
	}

	.icons {
		height: 50px;
		width: 100px;
	}

	.links p {
		line-height: 15px;
	}
}