.tracks {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0c0606;
    margin: 0;
    padding: 5%;
    padding-left: 10%;
}

.tracks-content{
    /* border: 2px solid yellow; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
